{% extends "SiwappCoreBundle::base.html.twig" %}

{% block actionlink %}
<a href="{{ path('customer_add') }}" class="btn btn-default btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  {% trans %}New Customer{% endtrans %}
</a>
{% endblock %}

{% block searchform %}
  {% include "SiwappCustomerBundle:Partials:search.html.twig" with {'form': search_form} %}
{% endblock %}

{% block body %}
  <div id="invoices-latest-recurring-invoices">
    {% include "SiwappCustomerBundle:Partials:listing.html.twig" %}
  </div>
{% endblock %}
