{% trans_default_domain 'SiwappProductBundle' %}

{{ form_start(form, {'attr': {'class': 'search form-inline'}}) }}

  <fieldset>

    {{ form_row(form.terms) }}

    <div class="form-group float-right btn-toolbar">
      <div class="btn-group">
        <button id="search-submit" type="submit" class="btn btn-default btn-primary">{% trans %}search.submit{% endtrans %}</button>
      </div>
      <div class="btn-group">
        <a id="search-reset" href="{{ path('product_index') }}" class="btn btn-default btn-warning">{% trans %}search.reset{% endtrans %}</a>
      </div>
    </div>

  </fieldset>

{{ form_end(form) }}
