{% trans_default_domain 'SiwappCoreBundle' %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% trans %}html.title{% endtrans %}{% endblock %} | Siwapp</title>
  {% block stylesheets %}
  {% stylesheets
    'bundles/siwappcore/vendor/bootstrap/css/bootstrap.min.css'
    'bundles/siwappcore/css/siwapp.layout.css'
    'bundles/siwappcore/css/siwapp.forms.css'
    filter='cssrewrite'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% endblock %}

  {% javascripts 'bundles/siwappcore/vendor/jquery-2.2.3.min.js' %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  {% javascripts 'bundles/siwappcore/vendor/bootstrap/js/bootstrap.min.js' %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block javascripts %}{% endblock %}
</body>
</html>
