{% extends "SiwappCoreBundle::base.html.twig" %}

{% block searchform %}{% endblock %}

{% block body %}

  <p>SHOW INVOICE</p>

  <a class="btn btn-default" href="{{ path('invoice_edit', {'id': entity.id}) }}">{% trans %}Edit{% endtrans %}</a>
{% endblock %}
