{% extends "SiwappConfigBundle:Default:settingsMenu.html.twig" %}


{% block body %}

   {{ form_start(form, {'action': path('global_settings')}) }}
        {{ form_widget(form) }}
        <input type="submit" />
    {{ form_end(form) }}

    <a href="#" class="addTax">Add Tax</a>
    <script type="text/javascript">
      $('a.addTax').live('click', function(event){
          event.preventDefault();
          var collectionHolder = $('#global_settings_taxes');
          var prototype = collectionHolder.attr('data-prototype');
          form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
          collectionHolder.append(form);
      });
    </script>

    <a href="#" class="addSerie">Add Serie</a>
    <script type="text/javascript">
      $('a.addSerie').live('click', function(event){
          event.preventDefault();
          var collectionHolder = $('#global_settings_series');
          var prototype = collectionHolder.attr('data-prototype');
          form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
          collectionHolder.append(form);
      });
    </script>

{% endblock %}
